.navbar{
    display: flex;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}

.brand{
    font-size: 1.6em;
}

.liNav{
    font-size: 1.2em;
    font-family: Kanit, sans-serif;
    text-transform: uppercase
}

.linksList{
    display: flex;
    list-style: none;
    margin-right: 1em;
}

.linksList a{
    padding: .4em .8em;
    margin-left: 1em;
}

.active{
    background-color: black;
    color: white;
    border-radius: 8px;
}
