body {
  background-color: #f6fcff;
  font-family: Kanit, sans-serif;
  margin: 0;
  padding: 0;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: black;
  transition: 0.4s;
  font-size: 1em;
  cursor: pointer;
}

a:hover,
nav button:hover {
  color: #868686;
}
